body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2697FF;
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #AFAFAF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  color: #AFAFAF;
}

.container {
  margin: 40px;
}

.component {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow:  0px 2px 3px #0059AB;
  margin-bottom: 20px;
}

.links__link {
  margin-right: 10px;
}

.links__link:last-child {
  margin-right: 0;
}

.currencies {
  width: fit-content;
}

.currencies__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.currency {
  min-width: 300px;
  margin-right: 5px;
  margin-left: 5px;
}

.currency-search {
  width: fit-content;
}

.currency-search label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.currency-search label span {
  margin-bottom: 10px;
}

.currency-search label input {
  padding: 5px 10px;
  font-size: 1rem;
}

.currency__name {
  color: #AFAFAF;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
}

.currency-relation {
  display: flex;
  justify-content: space-between;
}

.currency-relation span {
  color: #5B5B5B;
  font-size: 1.5rem;
}

.currency-relation__right {
  margin-right: 40px;
}

.currency-relation > img {
  margin: 0 10px;
}

.currency-relation .switcher {
  cursor: pointer;
}

.price-difference .increase span {
  color: #2AFF26;
}

.price-difference img {
  margin-right: 5px;
}

.price-difference .decline span {
  color: #FF2626;
}

.converter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-selector {
  width: fit-content;
  margin: 0;
}

.convert {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.currency-selector__name {
  color: #AFAFAF;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.currency-selector__container {
  display: flex;
}

.currency-selector__currencies {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  color: #5B5B5B;
  outline: none;
  margin-right: 20px;
}

.currency-selector__value {
  border: none;
  border-bottom: 2px solid #2697FF;
  font-size: 1.8rem;
  color: #5B5B5B;
  outline: none;
  max-width: 120px;
}

.converter > div:last-child .currency-selector__value {
  pointer-events: none;
  border-bottom-color: #AFAFAF;
}